@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.swiper {
  width: 1000px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
